html, body {
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    max-width: 650px;
    margin: 0 auto;
}

#contentContainer {
    flex: 1;
    border: 1px solid #ccc;
    width: 100%;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#contentContainer span {
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #ccc
}

#footerContainer {
    display: flex;
    width: 60%;
}

#footerContainer textarea {
    flex: 1;
    margin-right: 20px;
    resize: none;
    height: 40px;
}